<a href="https://colab.research.google.com/github/Aleja9425/Ejercicios-Talento-Tech/blob/main/Practica1_Talento_Tech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
df=pd.read_excel ("/content/drive/MyDrive/Colab Notebooks/Ventas.xlsx")
df.head(5)

    Region      Producto Vendedor  Ventas
0  Central    Accesorios    David    8287
1  Central    Accesorios    Karen    6909
2  Central  Dispositivos    David   11420
3  Central  Dispositivos    Karen   12948
4  Central      Sistemas    David   20098

In [3]:
import pandas as pd
df = pd.read_excel ('/content/drive/MyDrive/Colab Notebooks/Ventas.xlsx')
df.tail (10)

   Region      Producto Vendedor  Ventas
8    Este  Dispositivos      Ana   10348
9    Este  Dispositivos    Lucas    9312
10   Este      Sistemas      Ana   13531
11   Este      Sistemas    Lucas   13374
12  Oeste    Accesorios    Kevin    4744
13  Oeste    Accesorios     Sara    5442
14  Oeste  Dispositivos    Kevin   10711
15  Oeste  Dispositivos     Sara    8780
16  Oeste      Sistemas    Kevin   32855
17  Oeste      Sistemas     Sara   23151

In [4]:
import pandas as pd
df = pd.read_excel ('/content/drive/MyDrive/Colab Notebooks/Ventas.xlsx')
df.info (18)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Region    18 non-null     object
 1   Producto  18 non-null     object
 2   Vendedor  18 non-null     object
 3   Ventas    18 non-null     int64
dtypes: int64(1), object(3)
memory usage: 704.0+ bytes

In [5]:
import pandas as pd
df = pd.read_excel ('/content/drive/MyDrive/Colab Notebooks/Ventas.xlsx')
df.describe()

             Ventas
count     18.000000
mean   13307.388889
std     8153.055776
min     4744.000000
25%     8410.250000
50%    10529.500000
75%    13491.750000
max    32855.000000

In [6]:
import pandas as pd
df = pd.read_excel ('/content/drive/MyDrive/Colab Notebooks/Ventas.xlsx')
df.shape

(18, 4)

In [7]:
import pandas as pd
df = pd.read_excel ('/content/drive/MyDrive/Colab Notebooks/Ventas.xlsx')
df.columns

Index(['Region', 'Producto', 'Vendedor', 'Ventas'], dtype='object')

In [8]:
# Ejercicio 1: Mostrar las primeras filas del DataFrame
print("Mostrar las primeras filas del DataFrame")
print(df.head(10))

Mostrar las primeras filas del DataFrame
    Region      Producto Vendedor  Ventas
0  Central    Accesorios    David    8287
1  Central    Accesorios    Karen    6909
2  Central  Dispositivos    David   11420
3  Central  Dispositivos    Karen   12948
4  Central      Sistemas    David   20098
5  Central      Sistemas    Karen   30633
6     Este    Accesorios      Ana    9323
7     Este    Accesorios    Lucas    7667
8     Este  Dispositivos      Ana   10348
9     Este  Dispositivos    Lucas    9312

In [9]:
# Ejercicio 2: Calcular el total de ventas por region
print("Ejercicio 2: Calcular el total de ventas por region")
ventas_por_region = df.groupby('Region')['Ventas'].sum()
print(ventas_por_region)
print("\n")

Ejercicio 2: Calcular el total de ventas por region
Region
Central    90295
Este       63555
Oeste      85683
Name: Ventas, dtype: int64

In [10]:
# Ejercicio 3: Filtrar Data frame para mostrar solo las ventas hechas por David
print("Ejercicio 3: Filtrar las ventas para mostrar solo las ventas hechas por David")
ventas_David = df[df['Vendedor'] == 'David']
print (ventas_David)
print("\n")

Ejercicio 3: Filtrar las ventas para mostrar solo las ventas hechas por David
    Region      Producto Vendedor  Ventas
0  Central    Accesorios    David    8287
2  Central  Dispositivos    David   11420
4  Central      Sistemas    David   20098

In [11]:
# Ejercicio 4: Calcular el promedio de ventas por producto
print("Ejercicio 4: Calcular el promedio de ventas por producto")
ventas_por_producto = df.groupby ('Producto')['Ventas'].mean()
print (ventas_por_producto)
print("\n")

Ejercicio 4: Calcular el promedio de ventas por producto
Producto
Accesorios       7062.000000
Dispositivos    10586.500000
Sistemas        22273.666667
Name: Ventas, dtype: float64

In [12]:
# Ejercicio 5: Ordenar el DataFrame por Ventas en orden descendente
print("Ejercicio 5: Ordenar el DataFrame por Ventas en orden descendente")
df_ordenado = df.sort_values (by='Ventas', ascending= False)
print(df_ordenado)

Ejercicio 5: Ordenar el DataFrame por Ventas en orden descendente
     Region      Producto Vendedor  Ventas
16    Oeste      Sistemas    Kevin   32855
5   Central      Sistemas    Karen   30633
17    Oeste      Sistemas     Sara   23151
4   Central      Sistemas    David   20098
10     Este      Sistemas      Ana   13531
11     Este      Sistemas    Lucas   13374
3   Central  Dispositivos    Karen   12948
2   Central  Dispositivos    David   11420
14    Oeste  Dispositivos    Kevin   10711
8      Este  Dispositivos      Ana   10348
6      Este    Accesorios      Ana    9323
9      Este  Dispositivos    Lucas    9312
15    Oeste  Dispositivos     Sara    8780
0   Central    Accesorios    David    8287
7      Este    Accesorios    Lucas    7667
1   Central    Accesorios    Karen    6909
13    Oeste    Accesorios     Sara    5442
12    Oeste    Accesorios    Kevin    4744

In [13]:
# Ejercicio 6: Filtrar las filas con ventas mayores a 10000
print("Ejercicio 6: Filtrar las filas con ventas mayores a 10000")
df_filtrado = df [ df ['Ventas'] > 10000 ]
print(df_filtrado)
print("\n")

Ejercicio 6: Filtrar las filas con ventas mayores a 10000
     Region      Producto Vendedor  Ventas
2   Central  Dispositivos    David   11420
3   Central  Dispositivos    Karen   12948
4   Central      Sistemas    David   20098
5   Central      Sistemas    Karen   30633
8      Este  Dispositivos      Ana   10348
10     Este      Sistemas      Ana   13531
11     Este      Sistemas    Lucas   13374
14    Oeste  Dispositivos    Kevin   10711
16    Oeste      Sistemas    Kevin   32855
17    Oeste      Sistemas     Sara   23151

In [14]:
# Ejercicio 7: Ordenar el DataFrame por ventas en orden descendente
print("Ejercicio 7: Ordenar el DataFrame por ventas en orden descendente")
df_ordenado = df.sort_values(by='Ventas', ascending= True)
print(df_ordenado)
print("\n")

Ejercicio 7: Ordenar el DataFrame por ventas en orden descendente
     Region      Producto Vendedor  Ventas
12    Oeste    Accesorios    Kevin    4744
13    Oeste    Accesorios     Sara    5442
1   Central    Accesorios    Karen    6909
7      Este    Accesorios    Lucas    7667
0   Central    Accesorios    David    8287
15    Oeste  Dispositivos     Sara    8780
9      Este  Dispositivos    Lucas    9312
6      Este    Accesorios      Ana    9323
8      Este  Dispositivos      Ana   10348
14    Oeste  Dispositivos    Kevin   10711
2   Central  Dispositivos    David   11420
3   Central  Dispositivos    Karen   12948
11     Este      Sistemas    Lucas   13374
10     Este      Sistemas      Ana   13531
4   Central      Sistemas    David   20098
17    Oeste      Sistemas     Sara   23151
5   Central      Sistemas    Karen   30633
16    Oeste      Sistemas    Kevin   32855

In [15]:
# crear un DataFrame de Pandas
data = {
'id':[1,2,3,4,5,3,5],
'weight':['144.5', '167.2', '124.1', '144.5', '133.2', '124.1', '129.2'],
'height': ['5.9', '5.4','5.2', '5.9', '5.7', '5.2', '5.3'],
'age': ['33', '45', '23', '33', '54', '23', '42'],
'gender': ['M','M','F','M','F','F','F'],}

df_persona= pd.DataFrame(data)
print(df_persona)

   id weight height age gender
0   1  144.5    5.9  33      M
1   2  167.2    5.4  45      M
2   3  124.1    5.2  23      F
3   4  144.5    5.9  33      M
4   5  133.2    5.7  54      F
5   3  124.1    5.2  23      F
6   5  129.2    5.3  42      F

In [16]:
# Ejercicio 8: Eliminar la columna "Vendedor"
print("Ejercicio 8: Eliminar la columna 'Vendedor'")
df_sin_vendedor = df.drop(columns=['Vendedor'])
print(df_sin_vendedor)
print("\n")

Ejercicio 8: Eliminar la columna 'Vendedor'
     Region      Producto  Ventas
0   Central    Accesorios    8287
1   Central    Accesorios    6909
2   Central  Dispositivos   11420
3   Central  Dispositivos   12948
4   Central      Sistemas   20098
5   Central      Sistemas   30633
6      Este    Accesorios    9323
7      Este    Accesorios    7667
8      Este  Dispositivos   10348
9      Este  Dispositivos    9312
10     Este      Sistemas   13531
11     Este      Sistemas   13374
12    Oeste    Accesorios    4744
13    Oeste    Accesorios    5442
14    Oeste  Dispositivos   10711
15    Oeste  Dispositivos    8780
16    Oeste      Sistemas   32855
17    Oeste      Sistemas   23151

In [17]:
# Crear DataFrame con datos nulos y filas repetidas

import pandas as pd

Data = {
      'Id': ['1', '2', '3','1','5','6'],
       'Weight':['144.5', None , '124.1', '144.5', '133.2', '124.1'],
       'Height': ['5.9', '5.4', '5.2', '5.9', None, '5.2'],
       'Age': ['33', '45', '23', '33', None , '42'],
       'Gender': ['M','M','F','M','F','F']
      }

Data_New = pd.DataFrame(Data)

print(Data_New)

  Id Weight Height   Age Gender
0  1  144.5    5.9    33      M
1  2   None    5.4    45      M
2  3  124.1    5.2    23      F
3  1  144.5    5.9    33      M
4  5  133.2   None  None      F
5  6  124.1    5.2    42      F

In [18]:
Data_New.shape

(6, 5)

In [19]:
Data_New.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      6 non-null      object
 1   Weight  5 non-null      object
 2   Height  5 non-null      object
 3   Age     5 non-null      object
 4   Gender  6 non-null      object
dtypes: object(5)
memory usage: 368.0+ bytes

In [20]:
# Eliminar datos nulos

Data_New.isna().sum()

Id        0
Weight    1
Height    1
Age       1
Gender    0
dtype: int64

In [21]:
# Limpieza de columnas duplicados
print(f'Tamaño del set antes de eliminar las filas duplicadas:{Data_New.shape}')
Data_New.drop_duplicates(inplace=True)
print(f'Tamaño del set despues de eliminar las filas duplicadas:{Data_New.shape}')

Tamaño del set antes de eliminar las filas duplicadas:(6, 5)
Tamaño del set despues de eliminar las filas duplicadas:(5, 5)